* {
    margin:0; 
    padding:0; 
    box-sizing:border-box; 
    font-family:Arial, sans-serif;
}

body {
    background:#064e3b; 
    color:#e4e6e5; 
    line-height:1.6;
}

header {
    position:sticky; 
    top:0; 
    background:#064e3b; 
    border-bottom:2px solid #10b981; 
    padding:1rem 2rem; 
    display:flex; 
    justify-content:space-between; 
    align-items:center; 
    z-index:1000;
}
header nav a {
    margin:0 10px; 
    text-decoration:none; 
    color:#cecece; 
    font-weight:600; 
    transition:.3s;
}
header nav a:hover {
    color:#10b981;
}
section {
    max-width:1000px; 
    margin:0 auto; 
    padding:4rem 1rem;
}
h1,h2,h3 {
    margin-bottom:1rem;
}
.hero {
    display:grid; 
    grid-template-columns:2fr 1fr; 
    gap:2rem; 
    align-items:center;
}
.hero h1 {
    font-size:2.5rem; 
    font-weight:bold;
}
.hero p {
    opacity:.9; 
    margin-top:.5rem;
}
.buttons a, .buttons span {
    display:inline-block; 
    margin:8px 8px 0 0; 
    padding:.6rem 1rem; 
    border:2px solid #10b981; 
    border-radius:8px; 
    text-decoration:none; 
    color:#065f46; 
    font-size:.9rem; 
    background:#d1fae5; 
    transition:.3s;
}
.buttons a:hover {
    background:#10b981; 
    color:#fff;
}
.skills, .projects {
    
    gap:1.7rem;
    display:flex;
    justify-content: space-between;
}
.card {
    background:#8cc4a9; 
    border:1px solid #ffffff; 
    padding:1.2rem; 
    border-radius:12px; 
    box-shadow:0 2px 6px rgba(0,0,0,.1); 
    transition:.4s;
    width: 30%;
    color:#023f2e; 
    
}
.card:hover {
    transform:translateY(-20px);
}
.stack span {
    border:1px solid #10b981; 
    border-radius:12px; 
    font-size:.8rem; 
    padding:4px 8px; 
    margin-right:4px; 
    display:inline-block; 
    margin-top:4px; 
    background:#58caac;
}
footer {
    text-align:center; 
    font-size:.8rem; 
    color:#065f46; 
    padding:30px 0; 
    background:#bbf7d0;
}
li{
    margin-left: 10px;
}
.certs{
    display: flex;
    justify-content: space-around;
}

img{
    width: 250px;
    height: 150px;
    margin: 0;
    padding: 0;
}
.card:hover{
    background:#144135;  
    color:#e6e1e1;
}

